#game {
    min-height: 25em;   /* javascript sets height, but that can't make it smaller than this */
    background: #8D5922;
    background: -moz-linear-gradient(top, #8D5922 0%, #73471A 50%, #5A3816 100%);
    background: -webkit-linear-gradient(top, #8D5922 0%, #73471A 50%, #5A3816 100%);
    background: linear-gradient(to bottom, #8D5922 0%, #73471A 50%, #5A3816 100%);
    position: relative;
    transition-property: height;
    transition-duration: 0.5s;
}

.status-message {
    /* TODO: figure out how to make it stretch to the text size instead */
    width: 10em;
    text-align: center;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);

    /* cards use about 100 and a little more, this puts it above them */
    z-index: 200;
}

.card, .card-place {
    /* card size is defined in the javascript because it's much easier that way imo */
    border-radius: 8px;
    transform: translate(-50%, -50%);
    position: absolute;}
.card-place {
    background: #71471A;
    background: -moz-radial-gradient(center, #71471A 0%, #694219 50%, #5F3C16 100%);
    background: -webkit-radial-gradient(center, #71471A 0%, #694219 50%, #5F3C16 100%);
    background: radial-gradient(ellipse at center, #71471A 0%, #694219 50%, #5F3C16 100%);
    border: 2px solid #33200D;

    /* make sure that these things get "hidden" behind the cards
       without this, it looks ok on chromium but not on firefox */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.card {
    background-color: #850000;
    border: 1px solid #333;
    transition-property: background-color, left, top, z-index;
    transition-duration: 0.2s;
}
.card:hover {
    box-shadow: 0px 0px 10px whitesmoke;
}
.card.visible {
    background-color: whitesmoke;
}
.card.dragging {
    transition-property: none;
}
.card.ready2drop {
    border: 5px solid #22D600;
}

.card > div {
    display: flex;
    position: absolute;
    margin: 3px;
    font-size: 1.3em;
    flex-direction: column;
    align-items: center;
    opacity: 0;   /* hides everything unless .visible rules override */
    transition-property: opacity;
    transition-duration: 0.2s;
}

.card.visible > div {
    opacity: 1;
}

.card div:nth-of-type(2) {
    right: 0px;
    bottom: 0px;
    transform: rotate(180deg);
}

.card.black.visible > div { color: black; font-family: Arial, Helvetica, sans-serif;}
.card.red.visible > div { color: red; font-family: Arial, Helvetica, sans-serif;}
